.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.App h1 {
  text-align: center;
}
.group {
  margin: 0 auto;
  width: 100%;
}

button {
  margin: 10px;
  height: 50px;
  background: none;
}

button.selected {
  background-color: lightgreen;
}

.group .text {
  font-size: 25px;
  text-align: left;
}

.group button {
  width: calc(33% - 20px);
}

.notifications {
  display: flex;
  justify-content: space-around;
}

.notifications button {
  width: 250px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.configGroup {
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  width: 400px;
  font-size: 40px;
  display: flex;
  flex-flow: column;
}

.configGroup input {
  font-size: 30px;
  width: 200px;
  margin: 10px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.configGroup .nameInput {
  display: flex;
  justify-content: space-around;
}
