.App {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.App h1 {
  text-align: center;
}
.group {
  margin: 15px 0;
  width: 100%;
}

button {
  height: 50px;
  background: none;
}

button.selected {
  background-color: lightgreen;
}

.group .text {
  font-size: 25px;
  text-align: left;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group .buttonWrapper {
  width: calc(33% - 10px);
}
.group .peopleList {
  text-align: center;
  font-size: 20px;
}

.group .peopleList > * {
  margin: 10px 0;
}

.group button {
  width: 100%;
}

.notifications {
  display: flex;
  justify-content: space-around;
}

.notifications button {
  width: 250px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.configGroup {
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  font-size: 40px;
  display: flex;
  flex-flow: column;
}

.configGroup input {
  font-size: 30px;
  width: 200px;
  margin: 10px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.configGroup .inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.inputs [type="number"] {
  width: 45px;
}

.animated-gradient {
  background: repeating-linear-gradient(to right, white 0%, lightgray 100%);
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 1s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
